 
 .App {
  text-align: center;
  height: 90vh;
}

#main-container{
  background: #5f7676;
  height: 100%;
}
.input{
  background: #2f271e;
  color: antiquewhite;
  height: 50px;
}

.flex{
  display: flex;
}
.note-item{
  background: #2f271e;
  color: antiquewhite;
  width: 250px;
}